/* AREA Filter*/
.filter {
	background-color: #fff;

	&_form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 90vw;
		min-width: 280px;
		margin: auto;
	}
	&_sky_icons {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 80px;
		background-color: var(--theme-color-02);

		li {
			min-width: 45px;
			text-align: center;
			font-size: 1.5rem;
			color: var(--filter-icon);
			transition: all 1s;
		}
	}
	&_temp_range,
	&_wind_range,
	&_sky_range {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;
		min-width: 300px;
		accent-color: var(--theme-color-08);

		label {
			color: var(--theme-color-08);
		}
		input {
			padding: 1rem 0;
			cursor: pointer;
		}
	}
}
