/* AREA Filter*/
.filter {
	display: block;
	background-color: #fff;

	&_form {
		display: flex;
		justify-content: center;
		width: 90vw;
		min-width: 280px;
		// max-width: 400px;
		margin: auto;
		// background-color: #65001c;
	}
	&_sky_icons {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 80px;
		// max-width: 300px;
		background-color: var(--theme-color-02);

		li {
			min-width: 45px;
			text-align: center;
			font-size: 1.5rem;
			color: var(--filter-icon);
			transition: all 1s;
		}
	}
	&_temp_range,
	&_wind_range,
	&_sky_range {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;
		min-width: 300px;
		accent-color: var(--theme-color-06);

		label {
			min-width: 80px;
		}
		input {
			// width: calc(100% - 1rem);
			// height: 1.9rem;
			padding: 1rem 0;
			// max-width: 200px;
			cursor: pointer;
		}
	}
}

.yes {
	_font-size: 2rem;
	color: var(--filter-icon-active);
	transition: all 1s;
}
