:root {
	--theme-text-color-01: #333;
	--theme-text-color-02: #f1f1f1;
	--theme-color-01: #f1f1f1;
	--theme-color-02: #226e93;
	--theme-color-03: #588ca6;
	--theme-color-04: #77bde0;
	--theme-color-05: #34a7e0;
	--theme-color-06: #164861;
	--theme-color-07: #cbdae1;
	--theme-color-08: #3769b6;
	--theme-aktive: #37c217;
	--filter-icon: #164861;
	--filter-icon-active: #f1f1f1;
}
